/* The navigation menu -- sidebar.css */
.navbar {
    overflow: hidden;
    background-color: #333;
    height:100%;
    display:block;
  }
  
  /* Navigation links */
  .navbar a {
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin:0;
  }
  
  /* The subnavigation menu */
  .subnav {
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width:100%;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: gray;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 20%;
    top:0%;
    margin-left:1px;
    width:25%;
    height:100%;
    background-color: #333;
    z-index: 1;  
  }
  
  /* Style the subnav links */
  .subnav-content div {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
    visibility: visible;
    opacity:1;
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
    -o-transition:  opacity 3s ease;
    transition: opacity 0.3s ease;
  }