{
    "extends": [
        "eslint:recommended",
        "plugin:eslint-plugin-react/recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "react",
        "no-unsanitized",
        "prototype-pollution-security-rules"],
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "parser": "@typescript-eslint/parser", 
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react":{
            "pragma": "React",
            "version":"detect"
        }
    },
    "rules":{
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "complexity": ["error", 15],
        "max-depth": ["error", 4],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",

        /** no-unsanitized rules**/
        "no-unsanitized/method": "error",
        "no-unsanitized/property": "error",

        /** prototype-pollution-security-rules rules**/
        "prototype-pollution-security-rules/detect-merge": 1,
        "prototype-pollution-security-rules/detect-merge-objects": 1,
        "prototype-pollution-security-rules/detect-merge-options": 1,
        "prototype-pollution-security-rules/detect-deep-extend": 1
    }
}