.chips-container {
    width: 75%;
    background: #f0f0f0;
    padding: 15px 15px 10px 15px;
    border-radius: 15px;
    color:black;
    margin:auto;
}
.chips-container h1 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.chips-container .chips-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
.chips-container .chips-list li {
    display: inline-block;
    background: #555;
    color: white;
    padding: 3px 5px 3px 10px;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.chip-remove {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    font-size: 10px;
    background: #333;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.chip-remove:hover {
    color: red;
}

.chips-container input {
    color:black;
    border: 2px gray;
    border-style:solid;
    background: none;
    margin-bottom: 5px;
    display: inline-block;
}

.chips-container .dropdown {
    position: absolute;
    border: 1px solid black;
    display: none;
    z-index: 1;
    background: white;
    width:40%;
    border-radius:inherit;
    padding-left:10px;
}