
.files{ 
    position:relative;
    color:black;
    background-color:lightgray;
    border-radius: 10px;
    margin:0px;
    width:-webkit-fill-available;
    text-align:center;
}
.files:after {  pointer-events: none;
    position: absolute;
    top: 20px;
    left: 0;
    width: 25px;
    right: 0;
    height: 25px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    display: block;
    margin: 0 auto;
    color: #2ea591;
    text-transform: capitalize;
    text-align: center;
}