
ul li {
    color: #aaaaaa;
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #333;
  }
  
  .red a {
    border-color: red;
  }
  .green a {
    border-color: green;
  }
  .blue a {
    border-color: blue;
  }
  ul li a {
    border-top-style: solid;
    border-width: .33em;
    background-color:#111111;
    margin:.5em .5em;
    text-align:left;
    border-color:white;
    padding:.5em;
    display:block;
    min-width:9em;
    font-size:1.5em;
    font-weight:bold;
  }
  