.reg-li{
  border-bottom:unset; 
  color:black;
}

.dev{
  display:none;
}

input {
   border-radius:10px;
   background-color:#aaaaaa;
   color:white;
   border: none;
   outline:none;
   height:30px;
   transition:height 1s;
   -webkit-transition:height 1s;
}

.searchDiv {
  width:75%;
  margin:auto;
  margin-top:5%;
  text-align:center;
}
.searchInput {
  width:60%; 
  margin:auto;
}

.searchButton {
  width:30%;
  border-radius:10px; 
  margin:auto;
}

table {
  width:75%; 
  margin:auto; 
  border-collapse:collapse;
  margin-bottom:10%;
}

tr, th, td{
  border: 1px solid white;
  text-align:center;
  padding-top:5px;
  padding-bottom:5px;
}

th{
  padding:10px;
  font-size:20px;
}

button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width:95%;
}

button:hover {
  background-color: black;
  color: white;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#popup
{
  height:380px;
  width:340px;
  margin:0 auto;
  position:relative;
  z-index:10;
  display:none;
  border:5px solid #cccccc;
  border-radius:10px;
}

[id*=message-box]{
	width:50%;
	height:75%;
	text-align:center;
  border:solid 1px #bac0c3;
  color:black;
	border-radius:5px;
	position:fixed;
  left:25%;
  top:12.5%;
  padding:10px;
	z-index:1001;
	display:none;
	background:#fff;
	animation: animationDropCenter 0.25s;
}

.links {
  display: none;
  border-style: dotted;
  border-color: #FDFFFC;
  border-width: .15em 0;
}

.tabs a {
  min-width: 6em;
  font-weight: normal;
}

.tabs li {
  display: inline-block;
}

.cur-tab {
  border-color: #FCCC0A
}

.cur-panel {
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: #FDFFFC;
}

a {
  color: lightblue;
}
